{% extends "base.html.twig" %}
{% block title %}Documents{% endblock %}
{% block body %}
    <legend>Added documents</legend>
    <table id="documentsList">
        <thead>
        <tr>
            <th>ID</th>
            <th>Contact</th>
            <th>Added by</th>
            <th>Type</th>
            <th>Title</th>
            <th>Description</th>
            <th>Added at</th>
            <th>Action</th>
            <th>Download</th>
            <th>Action</th>
        </tr>
        </thead>
    </table>
{% endblock %}

{% block scripts %}
    <link href="/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="/js/jquery.dataTables.min.js"></script>
    <script>

        $(function(){
            var current_id = '';
            var current_color = '';
            $('#documentsList').DataTable( {
                ajax: {
                    "url": '/ajax/documents/list',
                    "type": 'POST',
                    dataSrc: "data"
                },
                "createdRow": function ( row, data, index ) {
                    var id = data[3]+'-' +data[4]+'-' +data[6]+'-' + data[7]
                    if (id !== current_id) {
                        $('td', row).css('background-color','#EEE')
                        current_id = id

                    }
                },
                "order": [[ 0, "asc" ]],

                "columnDefs": [
                    { "visible": false,  "targets": [  7 ] },
                {
                    "render": function ( data, type, row ) {
                        return "<button class='btn btn-success'>archive</button>";
                    },
                    "targets": 9
                },
                {
                    "render": function ( data, type, row ) {
                        if (data.length>0) {
                            let icon = "<span class=\"big-icon fas fa-file-"+row[9]+"\"></span>"

                            return "<a target=_blank title='"+data+"' href='" + data + "'><button type=button class='btn btn-default'>"+icon+"</button></a>"
                        }
                        return "nothing to download"

                    },
                    "targets": 8
                },
                {
                    "render": function ( data, type, row ) {
                        return data
                        let id = row[3]+'-' +row[4]+'-' +row[6]+'-' + row[7]
                        return id

                    },
                    "targets": 0
                }
                ]
            } );
        });

    </script>
{% endblock %}